QASMBench/

build/
Release/
Debug/

benchmarks/bin/*
benchmarks/stats/*
benchmarks.tar.gz

venv/
venv/*

bisquit/qasm/*
bisquit/hamlib/*

commands.out
compile_commands.out
sim_commands.out
nohup.out

out/
out.tar.gz

plots/
