QASMBench/

build/
Release/
Debug/
Asan/

benchmarks/bin/*
benchmarks/stats/*

venv/
venv/*

bisquit/qasm/*
bisquit/hamlib/*

*.out
*.html

out/

bisquit/classiq
bisquit/classiq/*

*.tar.gz
test.qasm

plots/

.claude.todo
