QASMBench/

build/
build_ilp/
build-ilp/
Release/
Debug/

benchmarks/bin/*
benchmarks/stats/*

venv/
venv/*

bisquit/qasm/*
bisquit/hamlib/*

*.out

out/

bisquit/classiq
bisquit/classiq/*

*.tar.gz
test.qasm

plots/

.claude.todo
